<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>YelpCamp: The Web Developer Bootcamp Project</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            YelpCamp
        </div>
        <ul class="navbar-list">
            <li class="navbar-button"><a href="#">Home</a></li>
            <li class="navbar-button"><a href="#">About</a></li>
            <li class="navbar-button"><a href="#">Add new</a></li>
        </ul>
    </nav>
