<%- include('partials/header') %>

<div class="overlay"></div>


<div class="container-fluid">
    <div class="row form-container d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-7 col-lg-9">
            <div class="form-add-blog">
                <h1 class="form-title">Add new blog</h1>
                <form action="/blogs" method="post">
                    <label for="blog-title">Title: </label>
                    <input id="blog-title" class="form-inp" type="text" name="blog[title]" placeholder="Name of the campground" required>
                    <label for="blog-img-url">Image URL:</label>
                    <input id="blog-img-url" class="form-inp" type="text" name="blog[image]" placeholder="URL to the campground image" required>
                    <label for="blog-body">Blog Body: </label>
                    <textarea id="blog-body" class="form-inp" name="blog[body]" placeholder="Enter a small description" required></textarea>
                    <button class="form-inp btn-pri" type="submit">Submit</button>
                </form>
                <a class="back-to-home" href="/blogs">< Go back</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
