<% include partials/header %>

<h2 class="evry-paragraph">This Is My First Article</h2>

<div class="paragraph-border">
    <%= header %>
</div>

<div class="evry-paragraph">
    <%= blog %>
</div>

<hr class="style-seven">

<% include partials/header %>