@import 'url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700)';
body
{
    font-family: 'Source Sans Pro', sans-serif;

    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;

    border: 20px solid #bdc3c7;
}

.post
{
    margin-bottom: 20px;
}

.date
{
    letter-spacing: .2rem;
    text-transform: uppercase;

    color: #3498db;
}


.quote
{
    padding-left: 5px;

    border-left: 5px solid #bdc3c7;
}

h2
{
    font-size: 2.0rem;
    font-weight: bold;

    color: #2c3e50;
}

hr
{
    height: 0;

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
