body {
    width: 50%;
    margin: 5% auto;
    padding: 2%;

    border: 20px solid #bdc3c7;

    font-family: 'Arvo', serif;
}

h2 {
    font-size: 100px;
}

/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    overflow: visible;
    /* For IE */

    height: 30px;

    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

hr.style-seven:before {
    /* Not really supposed to work, but does */
    display: block;

    height: 30px;
    margin-top: -31px;

    content: "";

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

.date {
    margin-left: 1%;

    letter-spacing: 0.2rem;
    text-transform: uppercase;

    color: #3498db;
}

.paragraph-border {
    margin-right: 1%;
    margin-left: 1%;
    padding-left: 1%;

    border-left: 8px solid #bdc3c7;
}

.evry-paragraph {
    margin: 2% 1% 2% 1%;
}
