* {
    transition: all 0.3s;
}

body {
    padding: 0 0 0 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #081621;
    background: #f6f6e9;
    width: 100vw;
}

.btn-pri {
    position: relative;
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 6px;
    background: blue;
    background: linear-gradient(90deg, rgba(230,57,70,1) 0%, rgba(255,166,48,1) 100%);
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    height: 2.8rem;
    line-height: 1;
    z-index: 0;
    margin-right: 1em;
}

.btn-pri:hover {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
    position: relative;
    box-shadow: 0px 12px 32px -12px rgba(0, 0, 0, 0.39);
    cursor: pointer;
}

.btn-pri:focus,
.btn-pri:active,
.btn-pri:visited {
    text-decoration: none;
    color: white;
}

/* screen reader only class */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* navigation bar starts here */
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: rgb(230, 57, 70);
    z-index: 10;
    overflow: hidden;
    padding-right: 1em;
    padding-left: 1em;
}

nav ul {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

nav li {
    color: #fefefe;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

/* .navbar-logo {
    height: 70%;
    position: relative;
    top: 0.7rem;
} */

.navbar-logo {
    display: inline-block;
    /* background: center / contain no-repeat url('../img/logokepler_logo_white.png'); */
    height: 70%;
    width: 9rem;
    top: 1.3rem;
    position: relative;
    color: white;
    font-size: 1.7rem;
}

.desktop-navbar,
.mobile-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-navbar {
    float: right;
    height: 5rem;
    line-height: 5rem;
}

.desktop-navbar li {
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    width: 8rem;
    height: 5rem;
}

.desktop-navbar li:hover {
    background-color: white;
    color: rgb(230, 57, 70);
}

.mobile-navbar {
    display: none;
    position: fixed;
    /* background: linear-gradient(180deg, rgba(0,87,146,1) 0%, rgba(230,57,70,1) 100%); */
    background: linear-gradient(180deg, rgba(230,57,70,1) 0%, rgba(255,166,48,1) 100%);
    right: 0;
    top: 0;
    width: 40rem;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.mobile-navbar li {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
}

.close-mobile-navbar {
    cursor: pointer;
    color: #fefefe;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ion-md-close {
    font-size: 4rem
}

.navbar-mobile-button.ion-md-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 1.5rem;
    height: 100%;
    color: rgb(246, 246, 233);
    font-size: 2.5rem;
    cursor: pointer;
}

nav li a {
    display: inline-block;
    height: 5rem;
    width: 100%;
    text-align: center;
}

.hidden {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

/* maximum width 750px */
@media (max-width: 750px) {
    .desktop-navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }

    .navbar-mobile-button.ion-md-menu {
        display: block;
    }
}

/* navigation bar ends here */
