<% include partials/header %>

<link rel="stylesheet" href="/css/new-camp.css">

<h1 class="form-title">Add new campgrounds page</h1>

<div class="container new-camp-form">
    <form action="/campgrounds" method="post">
        <input class="form-group form-control" type="text" name="name" placeholder="Name of the campground">
        <input class="form-group form-control" type="text" name="image" placeholder="URL to the campground image">
        <button class="form-group btn" type="submit">Submit</button>
    </form>
    <a href="/campgrounds">Go back</a>
</div>


<% include partials/footer %>
