<!-- navbar section starts -->
<nav>
    <div class="navbar-logo">
        <span class="sr-only">Blog Logo</span>
        <strong>RestBlog</strong>
    </div>
    <ul class="desktop-navbar">
        <li><a href="/">Blogs</a></li><!--
        --><li><a href="/blogs/new">Add new</a></li>
    </ul>
    <ul class="mobile-navbar hidden">
        <li><a href="/">Blogs</a></li><!--
        --><li><a href="/blogs/new">Add new</a></li>
        <li class="mobile close-mobile-navbar"><ion-icon name="close-outline" class="ion-md-close"></ion-icon></i></li>
    </ul>
    <ion-icon name="menu-outline" class="navbar-mobile-button ion-md-menu"></ion-icon>
</nav>
<!-- navbar section ends -->
