<% include partials/header %>

<h1>This is the HOME PAGE</h1>

<img src="img/christos-politis-Pilm2S_wgG0-unsplash.jpg" alt="Image of a spider on a web">
<p>Image by Christos Politis from <a href="https://unsplash.com/photos/Pilm2S_wgG0" target="_blank">Unsplash</a></p>

<% include partials/footer %>
